@font-face {
  font-family: 'Vazirmatn';
  src: url('fonts/Vazirmatn-Light.woff2') format('woff2 supports variations'),
       url('fonts/Vazirmatn-Light.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body{
  font-family: 'Vazirmatn';
}

hr{
  margin: 10px 0;
  border-color: rgb(218, 218, 218);
}
table, th, td{
  text-align: center !important;
}
.Vue-Toastification__container{
  direction: rtl;
}
.Vue-Toastification__toast-body{
  font-family: 'Vazirmatn';
}