@font-face {
  font-family: 'Vazirmatn';
  src: url('fonts/Vazirmatn-Light.woff2') format('woff2 supports variations'),
       url('fonts/Vazirmatn-Light.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body{
  font-family: 'Vazirmatn';
}

hr{
  margin: 10px 0;
  border-color: rgb(218, 218, 218);
}
table, th, td{
  text-align: center !important;
}
.Vue-Toastification__container{
  direction: rtl;
}
.Vue-Toastification__toast-body{
  font-family: 'Vazirmatn';
}

.slide-fade-enter-active{
  transition: all 0.4s cubic-bezier(1, .5, 0.8, 1);
}
.slide-fade-leave-active{
  transition: all 0.3s ease-out;
}
.slide-fade-enter-from, .slide-fade-leave-to{
  transform: translateX(20px);
  opacity: 0;
}